
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  :root{
    --main-color: #00555a;
    --text-color: white;
  }
  
  header {
    background-color:var(--main-color);
   padding: 8px 85px 10px 55px ;
   

  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  .fan-text {
    font-size: 42px;
    color:var(--text-color);
    font-weight: bold;
}
.navbar img {
    width: 60px; 
    height: auto;
    animation: spin 2s linear infinite;
    
}
@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}
.search-bar{
    margin-left: auto;
    padding-left: 15px;
    width: 570px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
}
  .search-bar input[type="text"] {
    padding: 10px;
    width: 520px;
  border: none;
   outline: none;
    background-color: transparent;
    font-size: 16px;
  }
  .fa-solid{
    color: black;
    cursor: pointer;
  }

  
  /* Media queries for responsive design */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    .search-bar {
      margin-top: 10px;
    }
  }
  @media (max-width: 480px) {
   .navbar{
    flex-direction: column;
   }
    .search-bar {
      margin-left: 10px; 
      width:350px ;
    }
  
    .search-bar input[type="text"] {
      font-size: 12px;
      width: 300px;
    }
  }




  .navbar2{
    padding-top: 5px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
justify-content: center;
   
   
  }
  
  .nav-links li {
    margin-right: 30px; 
  }
  
  .nav-links li a {
    color:var(--text-color);
    text-decoration: none;
    font-size: 18px;
    transition:  0.3s ease;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.47);
    
    padding: 10PX;
  }

  
  
  /* Media Queries for Tablet */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column; 
      align-items: center;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  
  /* Media Queries for Mobile */
  @media (max-width: 480px) {
    .navbar2 {
      padding-top: 10px; 
    }
  
    .nav-links li {
      margin: 8px 0; 
    }
  }
  





.pic-contanier{
    position: relative;
   text-align: center;
   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Pedestal-Fans-Category-Banner.jpg);
  height: 600px;
  }

.text-container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}



.icon-row{
  padding: 60px 70px 80px;
  display: flex;
  justify-content: space-between;
}


.icon1{
  display: flex;
}
.icon1 img{
  width: 60px;
  height: auto;
}
.icon-text{
  font-size: 18px;
  color: #092337;
  padding: 10px;
}



 /* Media Queries for Mobile */
 @media (max-width: 480px) {
  .icon-row{
   flex-direction: column;
  }
}



.table-fan-intro{
  height: 250px;
  text-align: center;
  margin: 0 auto;

}

.table-fan-intro h1{
 color: var(--main-color);
  font-size: 62px;
  
} .table-fan-intro p{
  line-height: 2rem;
  padding-top: 10px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {

  .table-fan-intro h1{
    font-size: 40px;
  }
  .table-fan-intro p{
    font-size: 18px;
  }
}



.row
{
  
   display: flex;
   justify-content: space-evenly;
padding: 50px 70px;
 background-color: rgb(220, 215, 215);
 margin: 0px 30px 0px 30px;
}
.row2
{
   display: flex;
   justify-content: space-evenly;
padding: 8px 70px;
background-color: rgb(220, 215, 215);
 margin: 0px 30px 0px 30px;
 
   

}
/* card section of seiling fan */


.column3{
   
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.column3:hover{
  box-shadow: 4px 8px 10px 4px rgb(154, 152, 152);
}
.column3 img{
    width: 100%;
    height: 400px;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.1s linear;

}
.layer:hover {
    background: rgba(13, 105, 167, 0.699);
}
.layer a{
    width: 100%;
     font-weight: 500;
     font-size: 25px;
     color: #fff;
     position: absolute;
     transform: translatex(-50%);
     bottom: 0;
     left: 80%;
   
     transition: 0.5s linear ;
     opacity: 0;
 
     text-decoration: none;
     /* s */
     
}
.layer:hover a{
    bottom: 49%;
    opacity: 1;
  
 

}
.text h3{
  font-size: 24px;
}
.text p{
  font-size: 18px;
  line-height: 2rem;
}
.text i{
  color: rgb(217, 144, 9);
  font-size: 18px;
}


@media(max-width:768px)
{
    .row{
        flex-direction: column;
    }
 

}





/* 
secong page  */





/* row 3  */

.row3
{

   display: flex;
   justify-content: space-around;
   padding: 20px;
   width: 100%;




}
.column4{

padding: 20px 0;


}  

/* ---------cover-page-start-------- */



  .cards1{
    width:550px;
    height: auto;
    position: relative;
    padding: 20px;
}
.cards1 .image{
 width: 100%; 
 opacity: 0.9;
}
.cards1 p{

    padding-top: 5px;
    letter-spacing: 0.3px;
    line-height: 2rem;

    font-size: 20px;   
}
.cards1 h1{
    font-size: 45px;
    padding: 39px 0;
    color: #00555a;

}
.imgtop2{
    position:absolute;
    width: 100%; 
    left: 0;
    top: 0;
    opacity: 0;  
    transition: all 0.5s;
}
.imgtop2:hover{
    opacity: 1;
}

.items{
  text-align: center;
}
.items h1{
  font-size: 45px;
padding: 20px;
color: #00555a;
}


.background{
position: relative;
text-align: center;
}

.background img{
  width: 80%;
  height: 90vh;
  /* margin-left: 9rem; */
@media(max-width:700px){
  .row3{
    flex-direction: column;
  }
  .row4{
    flex-direction: column;
  }

}


}
/* icon-section-start */
.icon-row{
padding: 60px 70px 80px;
display: flex;
justify-content: space-between;
}

/* row 4 */

.icon1{
display: flex;
}
.icon1 img{
width: 60px;
height: auto;
}
.icon-text{
font-size: 18px;
color: #092337;
padding: 10px;
.main-cards{

  width: 100%; 

  padding: 30px 55px;
  margin-top: 35px;
  color: #121212BF;

}

.row4{
display: flex;
align-items: center;


/* Media Queries for Mobile */
@media (max-width: 480px) {
.icon-row{
 flex-direction: column;
}
}



.table-fan-intro{
height: 250px;
text-align: center;
margin: 0 auto;

.column5{
  width:100%;

  position: relative;
}

.table-fan-intro h1{
color: var(--main-color);
font-size: 62px;

} .table-fan-intro p{
line-height: 2rem;
padding-top: 10px;
font-size: 20px;

.column5 .imge{
width: 400px; 
opacity: 0.9;
}
@media screen and (max-width: 768px) {

.table-fan-intro h1{
  font-size: 40px;
}
.table-fan-intro p{
  font-size: 18px;
}
.imgtop1{
  position:absolute;
  width:400px; 
  left: 0;
  top: 0;
  opacity: 0;  
  transition: all 0.5s;
}
.imgtop1:hover{
  opacity: 1;
}
.specified h5{
font-size: 18px;
padding:10px 0 ;
}

/* ceiling-card-page-start */


.row
.specified ul li
{

 display: flex;
 justify-content: space-around;
 padding: 30px;
  gap: 3%;

 width: 100%;

list-style: disc;

padding: 15px 10px;
letter-spacing: 0.3px;
line-height: 1rem;

font-size: 18px;   
}
/* card section of seiling fan */



.column1{

  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

}
.column1 img{
  width: 100%;
  height: 400px;
  display: block;
}

.card-text{
color: black;
font-size: 20px;
/* description section */
.text{
margin: 0 80px;
}

.card-text i{
color: rgb(217, 144, 9);
font-size: 18px;
.desc{
text-align: center;
padding: 40px 0;
}
.layer{
  background: transparent;
  /* height: 84.6%; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.1s linear;

}
.layer:hover {
  background: rgba(13, 105, 167, 0.699);
}
.layer a{
  width: 30%;
   font-weight: 500;
   font-size: 20px;
   color: #fff;
   position: absolute;
   transform: translatex(-50%);
   bottom: 0;
   left: 50%;

   transition: 0.5s linear ;
   opacity: 0;
.desc h1{

font-size: 45px;
padding: 20px;
color: #00555a;

   text-decoration: none;
   /* s */

}
.layer:hover a{
  bottom: 49%;
  opacity: 1;

.desc p
{


padding: 15px 0;
letter-spacing: 0.3px;
line-height: 2rem;

font-size: 18px;   
}



@media(max-width:700px)
{
  .row{
      flex-direction: column;
  }

  .background-img{
    width: 60%;
    height: 60vh;
  }


}


.footer{
width: 100%;
text-align: center;
padding: 50px 0;
font-size: 14px;
background-color: #00555a;
color: #fff;

}
.footer h4{
font-size: 18px;
 margin-bottom: 25px;
 margin-top: 20px;
 font-weight: 600;
}
.icons .fa-brands{

margin: 0 10px;
cursor: pointer;
padding: 18px 0;
height: 40px;

}






